.reco {
  width: 264px;
  height: 395px;
  background: linear-gradient(
    90deg,
    rgba(230, 230, 230, 0.7) 25%,
    rgba(253, 253, 253, 0.8) 50%,
    rgba(230, 230, 230, 0.7) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite ease-in-out;
}

.all {
  width: 156px;
  height: 234px;
  background: linear-gradient(
    90deg,
    rgba(230, 230, 230, 0.7) 25%,
    rgba(253, 253, 253, 0.8) 50%,
    rgba(230, 230, 230, 0.7) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite ease-in-out;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
